<div class="w-full flex flex-wrap justify-center gap-5 px-5 py-5">
    <div class="flex justify-center flex-col lg:w-1/2 w-full flex-wrap gap-5">
        <p-fieldset legend="Editor">
            <div class="flex justify-center flex-col lg:w-1/2 w-full flex-wrap gap-5 p-2">
                <p-floatLabel>
                    <input id="title" type="text" pInputText
                        class="p-2 border-1 focus:border-none focus:outline-none transition-200" />
                    <label for="title">Title</label>
                </p-floatLabel>
                <p-floatLabel>
                    <p-chips [(ngModel)]="values"
                        inputStyleClass="p-2 border-1 focus:border-none focus:outline-none transition-200 rounded-md active:border-1 active:border-white" />
                    <label for="title">Tags</label>
                </p-floatLabel>
                <p-floatLabel>
                    <textarea rows="5" cols="30" pInputTextarea class="p-2 border-1 focus:border-none focus:outline-none transition-200 rounded-md active:border-1 active:border-white"></textarea>
                    <label for="title">Blurb</label>
                </p-floatLabel>
                <p-fieldset legend="Content">
                    <div class="flex flex-col gap-3">
                        @if (contents.length > 0) {
                        @for (item of contents; track $index) {
                            <div pAnimateOnScroll enterClass="fadeinleft" leaveClass="fadeinleft"
                                class="animation-duration-200 animation-ease-in-out" #projects>
                                <div class="flex gap-2 border-l-2 px-2">
                                    <p-dropdown [options]="contentTypes" optionLabel="name" optionValue="value" placeholder="Select a Type"
                                        [(ngModel)]="contents[$index].type" />
                                    @if (contents[$index].type == 'text') {
                                    <p-floatLabel>
                                        <input pInputText id="title" aria-describedby="title-help" class="px-2 py-3"
                                            [(ngModel)]="contents[$index].value" />
                                        <label for="title">Value</label>
                                    </p-floatLabel>
                                    } @else if (contents[$index].type == 'image') {
                                        <p-fileUpload mode="basic" chooseLabel="Choose" chooseIcon="pi pi-upload" name="demo[]"
                                            styleClass="bg-blue-600 text-white hover:bg-blue-700" url="https://www.primefaces.org/cdn/api/upload.php"
                                            accept="image/*" maxFileSize="1000000" />
                                        
                                    } @else if (contents[$index].type == 'code') {
                                    <p-floatLabel>
                                        <textarea rows="5" cols="30" pInputTextarea>
                                        </textarea>
                                        <label for="title">Value</label>
                                    </p-floatLabel>
                                    }
                                    <p-button icon="{{ Icons['PLUS'] }}" (onClick)="addContent($index + 1)"
                                        styleClass="bg-blue-600 text-white hover:bg-blue-700 w-[50px] h-[50px] rounded-full" />
                                    <p-button icon="{{ Icons['DELETE'] }}" (onClick)="removeContent($index)"
                                        styleClass="bg-blue-600 text-white hover:bg-blue-700 w-[50px] h-[50px] rounded-full" />
                                </div>
                            </div>
                        
                        }
                        } @else {
                        <p-button icon="{{ Icons['PLUS'] }}" (onClick)="addContent(0)"
                            styleClass="bg-blue-600 text-white hover:bg-blue-700 w-[50px] h-[50px] rounded-full" />
                        }
                    </div>
                </p-fieldset>
            </div>
        </p-fieldset>
    </div>
    <div class="w-1/2 invisible lg:visible">
        <h1 class="text-3xl">Preview</h1>
    </div>
</div>