<header>
    <p-menubar [model]="menuItems" class="w-full">
        <ng-template pTemplate="end" class="flex items-center justify-center h-full">
            <p-toggleButton [(ngModel)]="isDarkMode" [offIcon]="Icons['DARK_MODE']" [onIcon]="Icons['LIGHT_MODE']"
                onLabel="Light" offLabel="Dark" />
        </ng-template>
    </p-menubar>
</header>
<router-outlet></router-outlet>
<div class="h-[5rem]"></div>
<footer>
    <div class=" h-[200px] flex flex-col justify-around items-center p-menubar">
        <div class="flex gap-4">
            @for (item of footerLinks; track $index) {
            <a href="{{item.url}}"><span class="{{item.icon}} text-3xl"></span></a>
            }
        </div>
        <p>© 2024 Copyright: Khosbilegt.B</p>
    </div>
</footer>