<div class="md:max-w-md w-3/4 mx-auto">
    <div class="relative mt-5 ">
        <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
            <span class="{{ searchIcon }}"></span>
        </div>
        <input pInputText type="search" id="default-search" [(ngModel)]="currentText" (keyup.enter)="onEnter()"
            class="blog-search block w-full p-4 px-6 ps-10 text-sm border border-gray-400 rounded-lg focus:ring-blue-500 focus:border-blue-500"
            placeholder="Quarkus, Redis, NodeJS" required />
        <div class="h-full flex align-center bg-red-200">
            <p-button type="submit" (onClick)="onEnter()"
                styleClass="text-white absolute end-2.5 bottom-4 bg-blue-700 hover:bg-blue-800 focus:ring-4 font-medium rounded-lg text-sm px-4 py-2">
                Search
            </p-button>
        </div>
    </div>
    <div class="flex flex-wrap gap-2 mt-3">
        @for (item of allTags; track $index) {
        <p-button styleClass="rounded-xl" (onClick)="selectTag(item[0])">
            <p-chip label="{{ item[0] }}" removable="{{ item[1] }}" />
        </p-button>
        }
    </div>
</div>
<div class="w-full md:px-5 px-3 flex justify-center">
    @if (visibleBlogs.length == 0 && !isLoading) {
    <div class="flex flex-col text-center gap-2 mt-5">
        <div class="h-10rem"></div>
        <h1 class="text-5xl">404</h1>
        <p class="text-xl">There are no blogs with the specified parameters.</p>
        <div class="h-15rem"></div>
    </div>
    } @else {
    <div class="w-full">
        <p-dataView #dv [value]="visibleBlogs" layout="grid" [paginator]="true" [rows]="12" styleClass="rounded-xl">
            <ng-template pTemplate="grid" let-products>
                <div class="grid lg:grid-cols-4 md:grid-cols-3 sm:grid-cols-2 grid-cols-1 gap-4 w-full p-5">
                    @if (isLoading) {
                    <div *ngFor="let item of [].constructor(12); let i = index">
                        <p-skeleton height="10rem"/>
                    </div>
                    } @else {
                        <div class="p-2 w-full" *ngFor="let item of products; let first = first">
                            <div pAnimateOnScroll enterClass="fadeinright" leaveClass="fadeoutleft"
                                class="animation-duration-1000 animation-ease-in-out">
                                <p-card header="{{ item.title }}">
                                    <ng-template pTemplate="header">
                                        <img alt="Card" src="{{ item.thumbnail }}" />
                                    </ng-template>
                                    <p>
                                        {{ item.blurb }}
                                    </p>
                                    <ng-template pTemplate="footer">
                                        <div class="flex gap-3 justify-end">
                                            <a pButton href="/blogs/{{ item.title }}"
                                                class="bg-blue-600 hover:bg-blue-400 text-white text-center text-sm py-2">
                                                Read more
                                            </a>
                                        </div>
                                    </ng-template>
                                </p-card>
                            </div>
                        </div>
                    }
                </div>
            </ng-template>
        </p-dataView>
    </div>
    }
</div>