@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Order */
@layer reset, primeng;

/* Reset CSS */
@layer reset {
    button,
    input {
        /* CSS to Reset */
    }
}

.p-carousel-indicator {
    background-color: #d1d5db;
    transition: 200ms;
    margin-top: 10px;
    border-radius: 50px;
}

.p-carousel-indicators .p-highlight {
    transition: 500ms;
    background-color: #0284c7;
}