<div class="w-full flex justify-center">
    <div class="lg:w-1/2 w-3/4">
        <h1 class="p-3"><span class="text-5xl">Projects</span><span class="ml-2"><a href="/blogs" class="text-blue-400 text-underline">See all</a></span></h1>
        <p-carousel [value]="projects" [numVisible]="1" [numScroll]="1" [showIndicators]="true" [circular]="true">
            <ng-template let-project pTemplate="item">
                <a class="rounded-lg project-carousel-link" href="/blogs/{{ project.title }}">
                    <div class="flex flex-col items-center gap-2 duration-200">
                            <p-image src="{{ project.thumbnail }}" [alt]="project.title" styleClass="flex justify-center"/>
                            <div class="flex gap-2 mt-2">
                                @for (tag of project.tags; track $index) {
                                <p-tag [value]="tag" />
                                }
                            </div>
                            <h1 class="text-3xl">{{ project.title }}</h1>
                            <p class="text-md">{{ project.blurb }}</p>
                        </div>
                    </a>
            </ng-template>
        </p-carousel>
    </div>
</div>